<section class="container">
    <article class="row">
        <h3 class="text-center my-5 col-12">
            Explorando horizontes e construindo futuros através de nossos cursos transformadores
        </h3>

        <figure class="pt-5 ps-5 ms-3 mt-4 col-4">
            <img class="rounded-5" src="./assets/img/cursos/hidraulica.jpg" width="350px" height="350px" alt="">
        </figure>
        <div class="col-6"> 
               texto aleatorio que ainda vou criar
        </div>
    </article>
</section>