/* .revealing-image {
    view-timeline-name: --revealing-images;
    view-timeline-axis: block;
    animation: linear images both;
    animation-timeline: --revealing-images;
    animation-range: entry 30% cover 30%;
} */

.img-cor1 {
    box-shadow: rgba(0, 255, 145, 0.3) 30px 4px 30px -4px;
}

.img-cor2 {
    box-shadow: rgba(241, 46, 255, 0.3) 30px 4px 30px -4px;
}

.img-cor3 {
    box-shadow: rgba(255, 231, 46, 0.3) 30px 4px 30px -4px;
}

.img-cor4 {
    box-shadow: rgba(60, 170, 255, 0.3) 30px 4px 30px -4px;
}


h3, h4 {
    font-family: 'Lilita One', sans-serif;
}

h3 {
    font-family: 'DM Sans', sans-serif;
}

h4 {
    color: rgb(108, 108, 255);
}

p {
    color: black;
}

@keyframes images {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }

    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

.sombra-verde {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px !important;
}

.cor-fundo {
    background: linear-gradient(90deg, rgba(231, 231, 231, 0.802), rgba(207, 223, 253, 0.802),  rgba(231, 231, 231, 0.802)) !important;
}