/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
}

body {
    min-height: 100%;
    display: grid;
    /* background-color: rgb(255, 255, 255); */
    /* background: linear-gradient(90deg, rgb(131, 159, 250), rgb(131, 210, 250)); */
    grid-template-rows: 1fr auto;
    background-image: url('/assets/img/background/tela.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: rgb(0, 0, 0);
    /* text-shadow: black 0.1em 0.1em 0.2em */
}