div, figure {
    animation:appear 1s ease-in-out;
    animation-timeline: view(block);
    animation-range: entry 0% cover 30%;
    view-timeline-axis: 10%;
}

#efeito-imagem {
    border-radius: 110px 250px 180px 250px;
    transform-origin: center center;
    transition: transform 0.8s ease, border-radius 0.7s ease, box-shadow 4s ease; /* Transições separadas para transform, border-radius e box-shadow */
    box-shadow: rgba(121, 58, 231, 0.583) 5px 5px 40px 5px;
}

#efeito-imagem:hover, #efeito-imagem:focus {
    transform: translateX(0) scale(0.7);
    border-radius: 200px 100px 200px 100px;
    box-shadow: rgb(40, 1, 108) 40px 40px 300px 40px; /* Aumenta o tamanho da sombra durante o hover */
}

h1, h3, li {
    font-family: 'Lilita One', sans-serif;
}

.primeira {
    margin: 0 auto -50px;
}

li {
    font-size: 25px;
}

.carousel-inner {
    box-shadow: rgba(0, 0, 0, 0.841) 0px 5px 15px;
}


@keyframes appear {
    from {
        opacity: 0;
        clip-path: inset(45% 20% 45% 20%);
    }

    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

.circulo {
    z-index: 1 !important;
    position: absolute;
}

.ms-6 {
    margin-left: 12rem !important;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em
}

.fonte-texto {
    font-family: 'Luckiest Guy', cursive;
    font-size: 38px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: black 0.1em 0.1em 0.2em
}