<!-- cabeçario -->

<section class="container d-flex flex-column position-relative primeira mb-5 pb-4">
    <article class="mt-5 pt-4 row">
        <div class="col-lg-6 pt-5 text-center"> <!-- Substituí col-sm-5 por col-lg-6 e adicionei text-center -->
            <div class="position-absolute z-n1 d-flex justify-content-center ms-5">
                <img class="img-fluid" src="./assets/img/background/varios.png" width="500" height="500" alt="">
            </div>
            <h1 class="pt-4">Transformando vidas, <br> construindo futuros. <br>Juntos pela comunidade!</h1>
            <p class="pt-4">O Instituto de Assistência Comunitária, estabelecido em 2020, é dedicado a apoiar aqueles enfrentando dificuldades, com foco em alimentação e famílias afetadas pelo uso de drogas. Oferece ajuda alimentar e suporte emocional. Além disso, promove o desenvolvimento infantil por meio de atividades como aulas de xadrez e jiu-jitsu, buscando criar uma comunidade resiliente desde sua fundação, impactando positivamente vidas.</p>
        </div>
        <figure class="col-lg-6 mb-3 primeira-imagem justify-content-center d-flex"> <!-- Substituí col-sm-3 por col-lg-6 -->
            <img class="img-fluid" id="efeito-imagem" src="./assets/img/foto1.jpg" width="500" height="500" alt="foto da galera do REFAM">
        </figure>
    </article>
</section>

<!-- cargos do Instituto -->

<section class="container d-flex flex-column position-relative mb-3 pb-4">
    <article class="mt-5 row">
        <figure class="col-lg-6 mb-3 primeira-imagem justify-content-center d-flex">
            <img class="img-fluid" id="efeito-imagem" src="./assets/img/sales.jpg" width="400" height="400" alt="foto da galera do REFAM">
        </figure>
        <div class="col-lg-6 pt-5 text-center position-relative">
            <div class="d-flex position-absolute z-n1 justify-content-center align-items-center" style="width: 100%; height: 100%;">
                <img src="./assets/img/background/circulo.png" width="420" height="420" alt="">
            </div>
            <!-- Coloquei a imagem do círculo dentro de um contêiner flexível para centralização -->
            <h1 class="pt-5 mt-4">Acreditar Sempre!!!!</h1>
            <p class="pt-4">
                Sales Rodrigues, também conhecido como Pastor Sales, é o visionário fundador de uma das maiores organizações de solidariedade em Novo Gama. Sua nobre iniciativa teve início em 2009 por meio do "Movimento Crack é Possível Vencer com Jesus", dedicado incansavelmente ao combate ao uso abusivo de drogas ilícitas. Esse movimento inspirador culminou na criação do Instituto REFAM, oficialmente registrado em 2012.
                
                Desde então, o Instituto REFAM tem desempenhado um papel crucial, impactando positivamente inúmeras famílias em toda a região do Entorno e no Distrito Federal. Sua sede, estrategicamente localizada no município de Novo Gama, serve como ponto de partida para uma jornada contínua de transformação social.
            </p>
        </div>
    </article>
</section>

<!-- Resumo de atividades do REFAM -->

<section>
    <article class="mt-4 pt-3">
        <h1 class="text-center pb-2 mt-5 sem-animaçao text-decoration-underline">
            Algumas atividades do REFAM
        </h1>
        <div class="container my-5">
            <div class="row">
                <ul class="list-inline d-flex justify-content-center flex-wrap"> <!-- Adicione flex-wrap para garantir que os itens se ajustem em dispositivos menores -->
                    <li class="list-inline-item pe-5">
                        <div class="d-flex flex-column align-items-center">
                            <figure class="pb-3">
                                <img id="efeito-imagem" src="./assets/img/Xadrex.jpg" width="200" height="200" alt="Xadrex">
                            </figure>
                            <span>Xadrez</span>
                        </div>
                    </li>

                    <li class="list-inline-item pe-5">
                        <div class="d-flex flex-column align-items-center">
                            <figure class="pb-3">
                                <img id="efeito-imagem" src="./assets/img/jiu-jitsu.jpg" width="200" height="200" alt="jiu-jitsu">
                            </figure>
                            <span>Jiu-Jitsu</span>
                        </div>
                    </li>

                    <li class="list-inline-item pe-5">
                        <div class="d-flex flex-column align-items-center">
                            <figure class="pb-3">
                                <img id="efeito-imagem" src="./assets/img/psicologo.jpg" width="200" height="200" alt="psicologo">
                            </figure>
                            <span>Psicólogo</span>
                        </div>
                    </li>

                    <li class="list-inline-item">
                        <div class="d-flex flex-column align-items-center">
                            <figure class="pb-3">
                                <img id="efeito-imagem" src="./assets/img/doacoes.jpg" width="200" height="200" alt="Doações">
                            </figure>
                            <span>Doações</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>

<!-- ajuda a dependentes quimicos -->
<div class="bg-primary bg-gradient bg-opacity-25 py-4 mb-5">

    <section class="container flex-column">
        <article class="row gap-3">
            <div class="col-lg-6">
                <h3 class="fs-5">
                    Parcerias com comunidades terapêuticas
                </h3>
            
                <h2 class="fonte-texto">
                    Tratamento para dependências químicas com encaminhamento para internações em comunidades terapêuticas, com mais de 100 pessoas atendidas.
                </h2>
            </div>
    
            <div class="col-lg-5">
                <div class="d-flex flex-wrap gap-4 pt-4 ps-4">
                    <img class="rounded-4" src="./assets/img/dependencia/dependencia.jpg" alt="" width="100" height="100">
                    <img class="rounded-4" src="./assets/img/dependencia/dependencia2.jpg" alt="" width="100" height="100">
                    <img class="rounded-4" src="./assets/img/dependencia/dependencia3.jpg" alt="" width="100" height="100">
                    <img class="rounded-4" src="./assets/img/dependencia/dependencia4.jpg" alt="" width="100" height="100">
                    <img class="rounded-4" src="./assets/img/dependencia/dependencia5.jpg" alt="" width="100" height="100">
                    <img class="rounded-4" src="./assets/img/dependencia/dependencia6.jpg" alt="" width="100" height="100">
                    <img class="rounded-4" src="./assets/img/dependencia/dependencia7.jpg" alt="" width="100" height="100">
                    <img class="rounded-4" src="./assets/img/dependencia/dependencia8.jpg" alt="" width="100" height="100">
                </div>
            </div>
        </article>
    </section>
</div>


<!-- carrossel -->

<section class="my-4">

    <h2 class="text-center fs-1 pt-4 pb-4 my-4 position-relative">
        Durante alguns anos viemos <div class="cor-destaque d-inline">ajudando</div> os familiares do Novo Gama!!!
    </h2>
    

    <div class="container-fluid d-flex justify-content-center align-items-center pb-3 mb-4">
        <div id="carouselExampleAutoplaying" class="carousel slide w-75" data-bs-ride="carousel"> <!-- Aumentei a largura para 75% -->
            <div class="carousel-inner rounded-5">
                <div class="carousel-item active">
                    <img src="./assets/img/carrossel/carrossel.jpg" class="d-block w-100" alt="First Slide">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/carrossel/carrossel2.jpg" class="d-block w-100" alt="Second Slide">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/carrossel/carrossel3.jpg" class="d-block w-100" alt="Third Slide">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
        </div>
    </div>
</section>

<!-- ajude a comunidade -->

<div class="bg-primary bg-gradient bg-opacity-25 py-4 mb-5">

    <section class="container flex-column">
        <article class="row gap-3">
            <div class="col-lg-6">
                <h3 class="fs-5">
                    Parcerias com comunidades terapêuticas
                </h3>
            
                <h2 class="fonte-texto py-5">
                    Tem vontade <br> de ajudar na causa?
                </h2>
            </div>

            <div class="col-lg-5">
                <div class="d-flex flex-wrap gap-4 pt-4 ps-4">
                    aaaaaaaaaaaaa
                </div>
            </div>
    
        </article>
    </section>
</div>